name: ci

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v1
      with:
        python-version: "3.x"
    - uses: actions/checkout@v2
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 .
    - name: Lint with black
      run: |
        pip install black
        black --check .

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8]
    steps:
    - uses: actions/setup-python@v1
      with:
        python-version: "3.x"
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get install -y gnuplot
    - name: Test with tox
      run: |
        pip install tox
        tox
    - name: Submit to codecov
      if: matrix.python-version == 3.8
      uses: codecov/codecov-action@v1.0.6
    #     run: bash <(curl -s https://codecov.io/bash)
